In [3]:
#Predicting ice cream consumption based on temperature
#helps import a library for handling numbers or data
import numpy as np

#performs tabular analysis on those numbers
import pandas as pd

#perform statistical analysiss
import scipy.stats as stats

#for visualization
import matplotlib.pyplot as plt
import seaborn as sb

#for statistical analysis
import statsmodels.api as sm

In [4]:
ice_cream_df = pd.read_csv("C:\\Users\\sajag177350\\OneDrive - EXLService.com (I) Pvt. Ltd\\Desktop\\ML Ops Training\\Session 1\\ice_cream.csv")

In [5]:
ice_cream_df.head

<bound method NDFrame.head of     temp  price
0     20    200
1     22    220
2     25    250
3     27    270
4     30    300
5     32    320
6     35    360
7     37    390
8     40    410
9     42    437
10    45    464
11    47    491>

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
x = ice_cream_df[["temp"]]
y = ice_cream_df[["price"]]

In [8]:
x

    temp
0     20
1     22
2     25
3     27
4     30
5     32
6     35
7     37
8     40
9     42
10    45
11    47

In [9]:
y

    price
0     200
1     220
2     250
3     270
4     300
5     320
6     360
7     390
8     410
9     437
10    464
11    491

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(9, 1) (3, 1) (9, 1) (3, 1)

In [12]:
x_train.head()

    temp
8     40
5     32
2     25
1     22
11    47

In [14]:
linearreg = LinearRegression()

In [16]:
model  = linearreg.fit(x_train,y_train)

In [18]:
#predict sales

prediction = model.predict(x_test)

In [19]:
prediction

array([[468.55605381],
       [435.66502242],
       [194.46412556]])

In [21]:
y_test

    price
10    464
9     437
0     200

In [22]:
#Evaluation Metric
train_pred =  model.predict(x_train)
test_pred = model.predict(x_test)

In [25]:
from sklearn.metrics import mean_absolute_error

In [27]:
mean_absolute_error(prediction,y_test)

3.8089686098654454